.title {
    font-weight: 700;
    font-size: 1.5rem;
}

//Options section
.filter {
    width: vw(502, 1366);
    &-arrow {
        border-left: none;
        color: black;
        background-color: white !important;
    }
    &-input {
        border-right: none;
    }
    &-menu {
        width: vw(502, 1366);
        transform: translate3d(0px, 34px, 0px) !important;
    }
}

.btn-search {
    color: $primary;
    &:hover {
        color: white;
    }
}

.btn-size {
    width: 195.31px;
}

.btn-xsm {
    font-size: 0.7rem;
    padding: 3px 6px;
}

.btn-tag {
    color: $blue;
    background-color: #8EC7FC26;
    &:hover {
        color: white;
        background-color: $blue;
    }
}

.selected-row {
    background-color: #8EC7FC26;
}

.disable {
    pointer-events: none
}

.primary-color.dropdown-item {
    color: $primary;
}

//Contacts table
.btn-link {
    color: black;
    padding: 5px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: $light;
}

td {
    height: 56px;
}

.table th {
    height: 67px;
    padding-top: 22px;
}

.progress {
    height: 8px;
    width: 109px;
}

.interest-percentage,
.region-table,
.email-table {
    font-size: 0.8rem;
}

.user-img {
    width: 24px;
    height: 24px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

//Modals
.modal-button {
    font-size: 1rem;
    min-width: 130px;
}

.close {
    opacity: 1;
    font-size: 2rem;
}

//New contact modal
.new-user-img {
    width: 85px;
    height: 85px;
}

.borders-new-user-modal {
    border: 3px solid $blue !important;
    border-radius: 8px;
}

.camera-button {
    width: 20px;
    height: 20px;
    font-size: 10px;
    box-sizing: content-box;
    border-width: 3px !important;
    top: 70%;
    left: 70%;
    background-color: $blue;
}

#company::placeholder {
    font-size: 0.7rem;
}

.new-contact-modal-header {
    height: 120px;
}

.modal-body {
    margin-top: -7%;
}

.interest-range {
    width: 235px;
}

.contact-channel-info {
    width: 70%;
    &-edit {
        width: 80%;
    }
}

.add-channel {
    width: 70%;
    min-width: 70%;
}