$primary: #1D72C2;
$secondary: #CCCCCC;
$light: #E8E8E8;
$danger: #DE0028;
$success: #429C41;
$warning: #FF6F00;
$transparent: #FFC700;
$info: #1CC1F5;
@import './reset';
@import "../node_modules/bootstrap/scss/bootstrap";
@import './general';
@import './variables_mixing_functions';
@import './contacts';