<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" sizes="32x32" href="../assets/logo.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Data Warehouse</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-0">
        <a class="navbar-brand" href="#">
            <img class="ml-4" src="../assets/logo.svg" width="50" height="50" alt="" loading="lazy">
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link mx-1 active" href="#">Contactos<span class="sr-only">(current)</span></a>
                <a class="nav-link mx-1" href="./companies.html">Compañías</a>
                <a class="nav-link mx-1" href="./users.html">Usuarios</a>
                <a class="nav-link mx-1" href="./region-city.html">Región / Ciudad</a>
            </div>
        </div>
    </nav>
    <main class="main mx-4">
        <section class="">
            <h1 class="title mt-5 mb-3">Contactos</h1>
            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row">
                    <div class="input-group filter mr-2">
                        <input type="text" class="form-control filter-input" aria-label="Text input with dropdown button">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary dropdown-toggle filter-arrow" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <form action="" class="dropdown-form dropdown-menu filter-menu p-3">
                                <div class="form-group mt-1 pb-2 row">
                                    <label for="name" class="col-md-4 col-form-label col-form-label-sm">Nombre del contacto</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-plaintext form-control-sm border-bottom" id="name-filter" name="name" placeholder="Introduce el nombre del contacto">
                                    </div>
                                </div>
                                <div class="form-group py-2 row">
                                    <label for="role" class="col-md-4 col-form-label col-form-label-sm">Cargo</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-plaintext form-control-sm border-bottom" id="role" name="position" placeholder="Introduce el cargo del contacto">
                                    </div>
                                </div>
                                <div class="form-group py-2 row">
                                    <label for="pais/region" class="col-md-4 col-form-label col-form-label-sm">País/Región</label>
                                    <div class="col-md-5">
                                        <select name="pais/region" class="form-control form-control-sm" id="pais/region">
                                            <option>Todos</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group py-2 row">
                                    <label for="compania" class="col-md-4 col-form-label col-form-label-sm">Compañía</label>
                                    <div class="col-md-5">
                                        <select name="compania" class="form-control form-control-sm" id="compania">
                                            <option>Todas</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group py-2 row">
                                    <label for="canal-favorito" class="col-md-4 col-form-label col-form-label-sm">Canal favorito</label>
                                    <div class="col-md-5">
                                        <select name="favoriteChannel" class="form-control form-control-sm" id="canal-favorito">
                                            <option>Cualquiera</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group pt-2 mb-1 row">
                                    <label for="interes" class="col-md-4 col-form-label col-form-label-sm">Interés</label>
                                    <div class="col-md-5">
                                        <select name="interes" class="form-control form-control-sm" id="interes">
                                            <option>Cualquiera</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-secondary btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <button type="button" class="btn btn-outline-primary mr-2" data-toggle="modal" data-target="#import-contacts-modal"><i class="fa fa-upload" aria-hidden="true"></i></button>
                    <div class="dropdown d-inline">
                        <button class="btn btn-outline-primary dropdown-toggle btn-size mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Exportar contactos
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item primary-color mt-3" href="#">Exportar seleccionados</a>
                            <a class="dropdown-item primary-color mt-3 mb-3" href="#">Todos los filtrados</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-size" data-toggle="modal" data-target="#new-contact">Agregar contacto</button>
                </div>
            </div>
            <div class="filter-choices mt-1">
                <button type="button" class="btn btn-light btn-xsm">Argentina <i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="selected-contacts d-flex justify-content-between align-items-center mt-4 mb-1">
                <button type="button" class="btn btn-xsm btn-tag disable">2 seleccionados</button>
                <button type="button" class="btn btn-outline-primary btn-size border-0" data-toggle="modal" data-target="#delete-contacts"><i class="fa fa-trash" aria-hidden="true"></i> 
                    Eliminar contactos</button>
            </div>
            <table class="table table-borderless table-bordered table-responsive-lg table-hover">
                <thead>
                    <tr class="table-bordered">
                        <th class="align-middle" scope="col"><input class="ml-3" type="checkbox" name="all-users"></th>
                        <th class="align-middle" scope="col">Contacto <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th class="align-middle" scope="col">País/Región <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th class="align-middle" scope="col">Compañía <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th class="align-middle" scope="col">Cargo <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th class="align-middle" scope="col">Interés <i class="fa fa-sort" aria-hidden="true"></i></th>
                        <th class="align-middle text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="contacts-body-table">

                </tbody>
            </table>
        </section>
    </main>

    <div class="modal fade" id="import-contacts-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center mt-1">
                    <img src="../assets/import.png" alt="Import logo">
                    <p class="pt-4">Selecciona el archivo de tu ordenador para importar tus contactos.</p>
                </div>
                <div class="modal-footer border-top-0 justify-content-around">
                    <button type="button" class="btn btn-outline-primary btn-lg modal-button" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary btn-lg modal-button">Importar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="delete-contacts" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center mt-1">
                    <img src="../assets/delete.png" alt="Delete logo">
                    <p class="pt-4">¿Seguro que deseas eliminar los contactos seleccionados?</p>
                </div>
                <div class="modal-footer border-top-0 justify-content-around">
                    <button type="button" class="btn btn-outline-primary btn-lg modal-button" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger btn-lg modal-button">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="new-contact" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-primary new-contact-modal-header">
                    <h1 class="title m-0 text-white">Nuevo contacto</h1>
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="new-contact-form">
                        <div class="form-group form-row border py-4 px-2 borders-new-user-modal bg-white">
                            <div class="col- position-relative ml-2 mr-3">
                                <img src="../assets/avatar.png" alt="user pic" class="new-user-img rounded-circle border border-primary borders-new-user-modal bg-secondary">
                                <button type="button" class="btn btn-primary rounded-circle camera-button p-0 border-white position-absolute"><i class="fa fa-camera" aria-hidden="true"></i></button>
                            </div>
                            <div class="col">
                                <label for="name" class="col-form-label col-form-label-sm">Nombre<span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-sm" id="name" name="name">
                            </div>
                            <div class="col">
                                <label for="lastname" class="col-form-label col-form-label-sm">Apellido<span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-sm" id="lastname" name="lastname">
                            </div>
                            <div class="col">
                                <label for="position" class="col-form-label col-form-label-sm">Cargo<span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-sm" id="position" name="position">
                            </div>
                            <div class="col">
                                <label for="email" class="col-form-label col-form-label-sm">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control form-control-sm" id="email" name="email">
                            </div>
                            <div class="col">
                                <label for="company" class="col-form-label col-form-label-sm">Compañía<span class="text-danger">*</span></label>
                                <select type="text" class="form-control form-control-sm" id="company" name="company">
                                    <option selected>Seleccionar compañía</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col">
                                <label for="region" class="col-form-label col-form-label-sm">Region</label>
                                <select class="form-control form-control-sm" name="region" id="region">
                                    <option selected>Seleccionar región</option>
                                
                                </select>
                            </div>
                            <div class="col">
                                <label for="country" class="col-form-label col-form-label-sm">País</label>
                                <select class="form-control form-control-sm" name="country" id="country" disabled>
                                    <option selected>Seleccionar país</option>
                                
                                </select>
                            </div>
                            <div class="col">
                                <label for="city" class="col-form-label col-form-label-sm">Ciudad</label>
                                <select class="form-control form-control-sm" name="city" id="city" disabled>
                                    <option selected>Seleccionar ciudad</option>
                                     
                                </select>
                            </div>
                            <div class="col">
                                <label for="address" class="col-form-label col-form-label-sm">Direccion</label>
                                <input type="text" class="form-control form-control-sm" id="address" name="address" placeholder="Ingresa una dirección" disabled>
                            </div>
                            <div class="form-group">
                                <label for="interest-rage" class="col-form-label col-form-label-sm">Interés</label>
                                <input type="range" min="0" max="100" step="25" value="0" list="interest-list" name="interest-rage" class="form-control form-control-sm interest-range mx-3 p-0" id="interest-rage">
                                <datalist id="interest-list">
                                    <option value="25">
                                    <option value="50">
                                    <option value="75">
                                </datalist>
                            </div>
                            <div class="col-xs">
                                <label for="interest-select" class="col-form-label col-form-label-sm text-white">Interés</label>
                                <select class="form-control form-control-sm interest-select" name="interest" id="interest-select">
                                    <option selected value="0">0%</option>
                                    <option value="25">25%</option>
                                    <option value="50">50%</option>
                                    <option value="75">75%</option>
                                    <option value="100">100%</option> 
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row contact-channel-info">
                            <div class="col">
                                <label for="contact-channel" class="col-form-label col-form-label-sm">Canal de contacto</label>
                                <select class="form-control form-control-sm" name="contactChannel" id="contact-channel-1">
                                    <option selected>Seleccionar canal</option>
                                    <option value="tel">Teléfono</option>
                                    <option value="email">Email</option>
                                    <option value="whatsapp">Whatsapp</option> 
                                    <option value="linkedin">Linkedin</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="userAcount" class="col-form-label col-form-label-sm">Cuenta de usuario</label>
                                <input type="text" class="form-control form-control-sm" id="userAcount-1" name="userAcount" placeholder="@ejemplo">
                            </div>
                            <div class="col">
                                <label for="preferences" class="col-form-label col-form-label-sm">Preferencias</label>
                                <select class="form-control form-control-sm" name="preferences" id="preferences-1">
                                    <option selected>Sin preferencia</option>
                                    <option value="favorite">Canal favorito</option>
                                    <option value="do not disturb">No molestar</option> 
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row contact-channel-info">
                            <div class="col">
                                <label for="contact-channel" class="col-form-label col-form-label-sm">Canal de contacto</label>
                                <select class="form-control form-control-sm" name="contactChannel" id="contact-channel-2">
                                    <option selected>Seleccionar canal</option>
                                    <option value="tel">Teléfono</option>
                                    <option value="email">Email</option>
                                    <option value="whatsapp">Whatsapp</option> 
                                    <option value="linkedin">Linkedin</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="userAcount" class="col-form-label col-form-label-sm">Cuenta de usuario</label>
                                <input type="text" class="form-control form-control-sm" id="userAcount-2" name="userAcount" placeholder="@ejemplo">
                            </div>
                            <div class="col">
                                <label for="preferences" class="col-form-label col-form-label-sm">Preferencias</label>
                                <select class="form-control form-control-sm" name="preferences" id="preferences-2">
                                    <option selected>Sin preferencia</option>
                                    <option value="favorite">Canal favorito</option>
                                    <option value="do not disturb">No molestar</option> 
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row contact-channel-info">
                            <div class="col">
                                <label for="contact-channel" class="col-form-label col-form-label-sm">Canal de contacto</label>
                                <select class="form-control form-control-sm" name="contactChannel" id="contact-channel-3">
                                    <option selected>Seleccionar canal</option>
                                    <option value="tel">Teléfono</option>
                                    <option value="email">Email</option>
                                    <option value="whatsapp">Whatsapp</option> 
                                    <option value="linkedin">Linkedin</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="userAcount" class="col-form-label col-form-label-sm">Cuenta de usuario</label>
                                <input type="text" class="form-control form-control-sm" id="userAcount-3" name="userAcount" placeholder="@ejemplo">
                            </div>
                            <div class="col">
                                <label for="preferences" class="col-form-label col-form-label-sm">Preferencias</label>
                                <select class="form-control form-control-sm" name="preferences" id="preferences-3">
                                    <option selected>Sin preferencia</option>
                                    <option value="favorite">Canal favorito</option>
                                    <option value="do not disturb">No molestar</option> 
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row contact-channel-info">
                            <div class="col">
                                <label for="contact-channel" class="col-form-label col-form-label-sm">Canal de contacto</label>
                                <select class="form-control form-control-sm" name="contactChannel" id="contact-channel-4">
                                    <option selected>Seleccionar canal</option>
                                    <option value="tel">Teléfono</option>
                                    <option value="email">Email</option>
                                    <option value="whatsapp">Whatsapp</option> 
                                    <option value="linkedin">Linkedin</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="userAcount" class="col-form-label col-form-label-sm">Cuenta de usuario</label>
                                <input type="text" class="form-control form-control-sm" id="userAcount-4" name="userAcount" placeholder="@ejemplo">
                            </div>
                            <div class="col">
                                <label for="preferences" class="col-form-label col-form-label-sm">Preferencias</label>
                                <select class="form-control form-control-sm" name="preferences" id="preferences-4">
                                    <option selected>Sin preferencia</option>
                                    <option value="favorite">Canal favorito</option>
                                    <option value="do not disturb">No molestar</option> 
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer border-top-0">
                    <button type="button" class="btn btn-outline-primary btn-lg modal-button border-0" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success btn-lg modal-button create" data-dismiss="modal">Guardar contacto</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="../scripts/contactsFilter.js"></script>
    <script type="module" src="../scripts/contacts/getContacts.js"></script>
    <script type="module" src="../scripts/contacts/createContacts.js"></script>
</body>

</html>